
body{
    font-size: 1rem;
    font-family: 'Arial Narrow', Arial, sans-serif;

}

section{
    background-color: rgba(236, 226, 169, 0.925);
    width: 50%;
    margin: auto;
}

h1{
    background-color: rgb(255, 217, 0);
    font-size: 1.5rem;
}

h2{
   color: rgb(0, 183, 255);
    font-weight: 600 ;
    font-size: 1.5rem;
    font-style: italic;
}
h3{
    font-size: 1rem;
    font-weight: bold;
}

ul{
    list-style:none;
}

.italica{
    font-style: italic;
    font-weight:lighter;
}